<!DOCTYPE html>
<html lang="en" class="no-js">
{% extends 'base.html' %}
{% load static %}
<head>

    {% block header %}
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Generate QR Code</title>

    {% endblock %}

</head>

<body>
{% block body %}

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Generate QR Code</h1>
					<nav class="d-flex align-items-center">
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

    <br>
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-4"></div>
            <div class="col-lg-4 col-md-4">

                <div class="single-product">

                    <form class="row price_form" method="post" id="price-form" novalidate="novalidate">
                        <div class="col-md-12 form-group">
                            <label for="id_price">Enter the Transaction Price</label>
                            <input type="number" class="form-control" id="id_price" name="price" placeholder="00.00" maxlength="200" required>
                        </div>

                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn" id="form-submit-button">Submit</button>
                        </div>

                        {{ login_form.non_field_errors }}

                        {% csrf_token %}
                    </form>

                </div>

            </div>
            <div class="col-lg-4 col-md-4"></div>

        </div>
    </div>

{% endblock %}

{% block js_scripts %}
{% endblock %}

</body>

</html>